* {
	padding: 0px;
	margin: 0px;
}

body {
	font-family: 'Biryani', sans-serif;
}

a {
	text-decoration: none;
}

.tile {
	height: 150px;
	width: 600px;
	margin: 10px auto;
	padding: 20px;

	font-size: 12px;
	font-weight: 400;

	background-color: #333;
	color: #fff;
}

.tile h1 {
	line-height: 2rem;
}

/*.active {
	background-color: #c93098;
}*/
